body {
  margin: 0 auto;
  font-family: sans-serif;
  background-color: #e5e5e5 !important;
}

.first-sc {
  margin-top: 32px;
}
.lemon-content {
  width: 700px;
  .col {
    height: 100%;
  }
}
.text-topic-container {
  width: 85%;
  color: #c31815;
  line-height: 29px;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 14px;
}
// .title-topic {
//   color: #c31815;
//   line-height: 29px;
//   font-family: 'Poppins';
//   font-weight: 600;
//   font-size: 14px;
// }
.title-big-context {
  color: #2a2a2a;
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  width: 85%;
  line-height: 32px;
  padding-right: 0px;
}

.title-context-desc {
  width: 85%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 165%;
}

.author {
  width: 85%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 165%;
  .real-author {
    opacity: 0.7;
  }
}
