<template name="componentsFooter">
  <div class="component-footer">
    <div
      class="height-100 color-white align-items-center rows justify-content-evenly"
    >
      <div class="column">
        <div class="rows-y flex-column align-items-center">
          <div class="column-y">
            <div>
              <img src="images/footer/nbc-icon-black.png" alt="profile" />
            </div>
          </div>
          <div class="column-y font-size-10">
            <div class="d-inline">copyright</div>
            <i class="d-inline fa-regular fa-copyright"></i>
            <div class="d-inline">2020 | NBC NEWS</div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="rows-y flex-column">
          <div class="p-1">
            <div class="font-size-16">Privacy Policy</div>
          </div>
          <div class="p-1">
            <div class="font-size-16">Do not sell my personal info</div>
          </div>
          <div class="p-1">
            <div class="font-size-16">Terms Of Service</div>
          </div>
          <div class="p-1">
            <div class="font-size-16">nbcnews.com Site Map</div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="rows column-y">
          <a href="#">
            <div class="column font-size-16">About</div>
          </a>
          <a href="#">
            <div class="column font-size-16">Contact</div>
          </a>
          <a href="#">
            <div class="column font-size-16">Careers</div>
          </a>
          <a href="#">
            <div class="column font-size-16">Coupons</div>
          </a>
        </div>
        <div class="column-y">
          <div class="rows justify-content-end">
            <div>
              <a href="#">
                <div class="column">
                  <i
                    class="social-media-icons fa-brands fa-instagram fa-2x"
                    style="color: white"
                  ></i>
                </div>
              </a>
            </div>
            <div>
              <a href="#">
                <div class="column">
                  <i
                    class="social-media-icons fa-brands fa-twitter fa-2x"
                    style="color: white"
                  ></i>
                </div>
              </a>
            </div>
            <div>
              <a href="#">
                <div class="column">
                  <i
                    class="social-media-icons fa-brands fa-reddit-alien fa-2x"
                    style="color: white"
                  ></i>
                </div>
              </a>
            </div>
            <div>
              <a href="#">
                <div class="column">
                  <i
                    class="social-media-icons fa-brands fa-facebook fa-2x"
                    style="color: white"
                  ></i>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
