<template name="componentsNavbar">
  <nav class="navbar navbar-expand-lg componentNavbar">
    <div class="container">
      <a href="" class="logo">
        <img src="images/navbar/logo.png" alt="logo" />
      </a>
      <div class="d-flex flex-row gap-5 align-items-center">
        <div class="row-1 d-flex flex-row gap-1 align-items-center">
          <div class="red-circle"></div>
          Corona Updates
        </div>
        <div class="row-2 px-2">Politics</div>
        <div class="row-3 px-2">Business</div>
        <div class="row-4 px-2">Sports</div>
        <div class="row-5 px-2">World</div>
        <div class="row-6 px-2">Travel</div>
        <div class="row-7 px-2 d-flex flex-row align-items-center">
          Podcasts
          <a class="arrow-vector" href="#">
            <img src="images/navbar/arrow-vector.png" alt="profile" />
          </a>
        </div>
      </div>
      <div class="d-flex flex-row gap-4 align-items-center">
        <div class="row-1 px-2">
          <a href="#">
            <img src="images/navbar/profile-vector.png" alt="profile" />
          </a>
        </div>
        <div class="row-2 px-2">
          <a href="#">
            <img src="images/navbar/search-vector.png" alt="search" />
          </a>
        </div>
        <div class="row-3 px-2">
          <a href="#">
            <img src="images/navbar/menu-vector.png" alt="menu" />
          </a>
        </div>
      </div>
    </div>
  </nav>
</template>
