/* @Lemon Section*/

.poppins {
  font-family: 'Poppins';
  font-style: normal;
}

.lemon-section-last-part {
  font-weight: 400;
  font-size: 13px;
  line-height: 165%;
  color: #2a2a2a;
  opacity: 0.7;
}

.trending {
  @extend .poppins;
  font-weight: 600;
  font-size: 14px;
  line-height: 29px;
  letter-spacing: 0.02em;
  color: #c31815;
}

.date {
  @extend .poppins;
  @extend .lemon-section-last-part;
}

.author {
  @extend .poppins;
  @extend .lemon-section-last-part;
  opacity: 0.7;
}
