/* @Lemon Section*/

.lemon-section {
  margin-top: 32px;
}

/* @Red Section*/

.red-section {
  margin-top: 50px;
}

.red-section .red-section-title-section {
  height: 100%;
}

/* @News Section*/

.news-section {
  margin-top: 40px;
}

.news-content {
  width: 916px;
}
.news-content .news-title {
  height: 54px;
}
