@import '../../style/common.scss';

/* @Lemon Section*/

.lemon-section {
  margin-top: 32px;
}

/* @Red Section*/

.red-section {
  margin-top: 50px;
}

.red-section .red-section-title-section {
  height: 100%;
}

/* @News Section*/

.news-section {
  margin-top: 40px;
}

.news-section .all-news {
  padding-top: 8px;
  display: flex;
  flex-wrap: wrap;
}

.news-section .news-content {
  width: 916px;
}
.news-content .news-title {
  height: 54px;
}

.location-news-box {
  height: 206px;
}
.location-news-box .location-box-border {
  width: 90%;
  height: 60px;
}

.submit-button {
  width: 100px;
  height: 40px;
}

.news-content {
  padding-top: 8px;
}
.news-content-box {
  width: 438px;
}

.icons-box {
  font-size: 10px;
  padding-right: 7px;
}

.more-button {
  padding-top: 40px;
}

.more-button .more-button-box {
  width: 220px;
  height: 60px;
}

.editor-picks {
  padding-top: 83px;
}

.small-red-line {
  width: 15px;
  height: 4px;
  background: #c31815;
  opacity: 0.2;
}

.small-red-line-shine {
  opacity: 1 !important;
}
