@import '../common.scss';

/* @Lemon Section*/

.lemon-section-last-part {
  @extend .color-black;
  font-weight: 400;
  font-size: 13px;
  line-height: 165%;
  opacity: 0.7;
}

.trending {
  @extend .poppins;
  @extend .color-red;
  @extend .font-weight-600;
  font-size: 14px;
  line-height: 29px;
  letter-spacing: 0.02em;
}

.date {
  @extend .poppins;
  @extend .lemon-section-last-part;
}

.author {
  @extend .poppins;
  @extend .lemon-section-last-part;
  opacity: 0.7;
}

/* @Red Section*/

.red-background {
  @extend .background-color-red;
  width: 100%;
  height: 80px;
}

.white-background {
  @extend .white-color-background;
  height: 54px;
}

.red-section-desc {
  @extend .poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 15px;
  color: #ffffff;
}

/* @News Section*/

.title-background {
  @extend .white-color-background;
}

.title-content-text {
  @extend .color-black;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.location-box-border-style {
  mix-blend-mode: normal;
  opacity: 0.2;
  border: 1px solid #141414;
  border-radius: 2px;
}

.more-button-style {
  border: 1px solid #c31815;
  border-radius: 2px;
}
